@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-principal: "Poppins", sans-serif;
}

body{
    background-color: #33393F;
    color: white;
    font-family: var(--font-principal);
}

#top{
    display: flex;
    gap: 20px;
}

.esquerda{
    padding: 20px;
}

#logo {
    width: 100%;
    max-width: 600px;

}

#logo > img{
    width: 100px;
    height: auto;
}

#valores{
    width: 100%;
    max-width: 600px;
}

#logo_proincipal{
    width: 100%;
    max-width: 500px;
}

#logo_principal > Img{
    width: 100%;
    max-width: 500px;
    height: auto;
}



.whatsapp-btn{
    font-size: 20px;
    background-color: #00E705;
    color: white;
    padding: 10px 16px;
    border-radius: 30px;
    text-decoration: none;
    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 10px;
}

#logo_footer > img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    body{
        font-size: 15px;
    }

    body h1{
        font-size: 28px;
    }

    #top {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #valores {
        max-width: 90%;
    }

    #logo_principal > img {
        max-width: 90%;
        margin: 0 25.25px;

    }

    .whatsapp-btn{
        display: inline-block;
        width: 100%;
        max-width: 500px;
        text-align: center;
        justify-content: center;
    }
}
