@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-principal: "Poppins", sans-serif;
}

body{
    background-color: #33393F;
    color: white;
    font-family: var(--font-principal);
}

section#top{
    display: flex;
    justify-content: space-between;
}


#logo{
    padding: 20px;
}

#logo > img{
    width: 100px;
    height: 100px;
}

.logo_principal > img{
    width: 500px;
}

#valores{
    width: 700px;
}

#valores > h1{
    line-height: 50px;
}

.whatsapp-btn{
    font-size: 20px;
    background-color: #00E705;
    color: white;
    padding: 10px 16px;
    border-radius: 30px;
    text-decoration: none;
}
